# Core functionality - changes here should be rare!
/src/app.py                   @kburle19
/src/backend/database.py      @kburle19
/src/backend/routers/auth.py  @kburle19

# The frontend will need refactored soon to be more object oriented.
/src/static/   @kburle19
